<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>Home</title>
  <meta name="title" content="">
  <meta name="description" content="">
  <meta property="og:description" content="">
  <meta name="keywords" content="">
</head>
<body>
  <p-general>
    <o-header no-scroll="nav-open" menu-icon="true" namespace="header-">
      <style>:host header{margin:0;width:100%}</style>
      <m-navigation hover="false" namespace="navigation-" no-scroll="nav-open">
        <ul>
          <li>
            <a href="#" target="">About</a>
            <ul>
              <li>
                <a href="/about/idee/" target="">Idee</a>
              </li>
              <li>
                <a href="/about/team/" target="">Team</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/forderung/" target="">Förderung</a>
          </li>
          <li>
            <a href="/kosmos/" target="">Kosmos</a>
          </li>
          <li>
            <a href="#" target="">Studio</a>
            <ul>
              <li>
                <a href="/studio/in-den-studios/" target="">In den Studios</a>
              </li>
              <li>
                <a href="/studio/projekte/" target="">Projekte</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/netzwerk/" target="">Netzwerk</a>
          </li>
          <li>
            <a href="/suche/" target="">
              <img src="https://testadmin.sparx-space.ch/assets/img/search_black_24dp.svg">
            </a>
          </li>
        </ul>
      </m-navigation>
    </o-header>
    <o-body>
      <div>
        <a-picture namespace="picture-" defaultsource="https://testadmin.sparx-space.ch/media/ixqn5dfc/sparx-test.png?anchor=center&mode=crop&format=png&quality=80&rnd=132677060059730000" alt="Sparx Test">
          <style>:host{--picture-height:;--picture-height-mobile:;--picture-width:min(,var(--content-width,100%));--picture-width-mobile:min(,var(--content-width-mobile,100%))}</style>
        </a-picture>
      </div>
    </o-body>
    <div id="twelve-point-star" style="position:fixed;top:60%;left:3em;z-index:100">
      <a href="/forderung/#cta" title="Förderung">
        <a-picture namespace="picture-" defaultsource="https://testadmin.sparx-space.ch/media/a5tlig4d/cta-button-draft.png?anchor=center&mode=crop&width=200&format=png&quality=80&rnd=132682682778670000" alt="Cta Button Draft">
          <style>:host{--picture-width:min(200px,var(--content-width,100%));--picture-width-mobile:min(200px,var(--content-width-mobile,100%))}</style>
        </a-picture>
      </a>
    </div>
    <sparx-a-marquee namespace="marquee-"><div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit eveniet adipisci aliquam, fuga nulla distinctio iste consectetur, architecto blanditiis fugiat necessitatibus ipsam illum quam facere eligendi unde, quo dolore dolorum!</div></sparx-a-marquee>
  </p-general>
  <!--<msrc-cookie-banner props="{'env': 'test', 'language': 'de', 'theme': 'mgb', 'webAPIKey': 'YZ2PxeiToHsMMnjPdpeEZU9Tp4N9adVVAwYLQKjJg89KQ6MCFcYKQL9Cdcq2HjgE'}" mobile-breakpoint="1000px"></msrc-cookie-banner>-->
</body>
</html>