<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>Sparx</title>
</head>

<body>
  <style>
    html {
      --color: #282828;
      --background-color: #FEDF73;
    }
  </style>
  <p-general>
    <o-header menu-icon="true" namespace="header-" role="header">
      <!--<a-title namespace="header-title-"><sparx-a-heading namespace="heading-" title-rotation="-12"><h3>SPARX</h3></sparx-a-heading></a-title>-->
      <a-logo namespace="header-logo-" src="https://testadmin.sparx-space.ch/assets/img/MKP_Sparx_Logo_Sparx_pos.svg"
        href="/"></a-logo>
      <m-navigation hover="false" namespace="navigation-" hit-area="false" focus-lost-close focus-lost-close-mobile>
        <ul>
          <li>
            <a href="#" target="">About</a>
            <ul>
              <li>
                <a href="/about/idee/" target="">Idee</a>
              </li>
              <li>
                <a href="/about/team/" target="">Team</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/forderung/" target="">Förderung</a>
          </li>
          <li>
            <a href="/kosmos/" target="">Kosmos</a>
          </li>
          <li>
            <a href="#" target="">Studio</a>
            <ul>
              <li>
                <a href="/studio/in-den-studios/" target="">In den Studios</a>
              </li>
              <li>
                <a href="/studio/projekte/" target="">Projekte</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/netzwerk/" target="">Netzwerk</a>
          </li>
          <li>
            <a href="/suche/" target="">
              <img src="https://testadmin.sparx-space.ch/assets/img/search_black_24dp.svg">
            </a>
          </li>
        </ul>
      </m-navigation>
    </o-header>
    <sparx-o-body>
      <sparx-a-heading namespace="heading-" title-rotation="-6" sparkle>
        <h1>Sparx Studios </h1>
      </sparx-a-heading>
      <div>
        <sparx-a-call-for-ideas color=#282828 background-color=#FF675D star namespace="call-for-ideas-"
          href="xxx/forderung/#cta" position="absolute" position-mobile="static" top=20vh left=6vw
          margin-mobile="4em 0 2em 10%">
          <sparx-a-heading mode=false title-rotation="-6">
            <h4>Call<br>for ideas</h4>
          </sparx-a-heading>
          <p>Jetzt deine Idee<br>einreichen</p>
        </sparx-a-call-for-ideas>
      </div>

      <h3>h3 Das Förderprojekt </h3>
      <p><a href=#>Sparx</a> kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren.
        Das
        <span class=highlight>Förderprojekt</span> ist partizipativ aufgebaut und offen für alle Sparten, Ideen und
        Gruppen. Einmal jährlich suchen
        wir originelle Ideen, die während drei Monaten mit einem Aufenthalt in den Sparx Studios unterstützt werden.
        <sparx-a-button namespace="button-">zurück zur Startseite - Default</sparx-a-button>
        <sparx-a-button namespace="button-" center>Center</sparx-a-button>
        <sparx-a-button namespace="button-" href="./index.htlm" color="blue" background-color="green"
          background-color-hover="yellow">Colors</sparx-a-button>
      </p>
      <h2>Formulare</h2>
      <p>

        <sparx-a-button namespace="button-" icon>zurück zur Startseite</sparx-a-button>
        <sparx-a-button namespace="button-" icon>zurück zur Startseite</sparx-a-button>
        <sparx-a-button namespace="button-" icon>Download PDF</sparx-a-button>
      </p>
      <p>Sparx kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren. Das
        Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
        wir originelle Ideen, die während drei Monaten mit einem Aufenthalt in den Sparx Studios unterstützt werden.
      </p>
      <p>Sparx kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren. Das
        Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
        wir originelle Ideen, die während drei Monaten mit einem Aufenthalt in den Sparx Studios unterstützt werden.
      </p>
      <h2> h2 Das Förderprojekt </h2>
      <p>Sparx kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren. Das
        Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
        wir originelle Ideen, die während drei Monaten mit einem Aufenthalt in den Sparx Studios unterstützt werden.
      </p>
      <div>
        <sparx-a-call-for-ideas color=#282828 background-color=#FF675D star namespace="call-for-ideas-"
          href="xxx/forderung/#cta" position="absolute" position-mobile="static" right=6vw
          margin-mobile="4em 10% 2em 0">
          <sparx-a-heading mode=false title-rotation="-6">
            <h4>Call<br>for ideas</h4>
          </sparx-a-heading>
          <p>Jetzt deine Idee<br>einreichen</p>
        </sparx-a-call-for-ideas>
      </div>
      <sparx-a-heading namespace="heading-" title-rotation="-6" sparkle>
        <h3>h3 Sparx fdsa fdsa fdsa Studios</h3>
      </sparx-a-heading>
      <p>Sparx kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren. Das
        Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
      </p>
      <div class="spacer"></div>
      <sparx-o-style a-color-hover="var(--color)" a-color="var(--color)" color="#FEDF73" background-color="#282828">
        <div class="spacer"></div>
        <sparx-a-heading namespace="heading-" color="#FEDF73" title-rotation="-6" sparkle>
          <h2>h2 Sparx<br>Studios Studios Studios</h2>
        </sparx-a-heading>
        <p><a href=#>Sparx</a> kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren.
          Das
          Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
          wir originelle Ideen, die während drei Monaten mit einem Aufenthalt in den Sparx Studios unterstützt werden.
        </p>
        <sparx-a-heading namespace="heading-" color="#FEDF73" title-rotation="-6" sparkle no-animation>
          <h3>h3 no-animation<br>Studios<br>Studios Studios Studios</h3>
        </sparx-a-heading>
        <p>Sparx kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren. Das
          Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
          wir originelle Ideen, die während drei Monaten mit einem Aufenthalt in den Sparx Studios unterstützt werden.
        </p>
        <h3>Das Förderprojekt </h3>
        <p>Sparx kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren. Das
          Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
          wir originelle Ideen, die während drei Monaten mit einem Aufenthalt in den Sparx Studios unterstützt werden.
        </p>
        <div class="spacer"></div>
        <a-picture namespace="picture-"
          defaultsource="https://testadmin.sparx-space.ch/media/4presopi/laptop-3087585_1920.jpg?anchor=center&amp;mode=crop&amp;width=850&amp;height=450&amp;format=png&amp;quality=80&amp;rnd=132677060360870000"
          sources="[{'src':'https://testadmin.sparx-space.ch/media/4presopi/laptop-3087585_1920.jpg?anchor=center&amp;mode=crop&amp;width=382&amp;height=202&amp;format=webp&amp;quality=80&amp;rnd=132677060360870000','size':'small','type':'image/webp'},{'src':'https://testadmin.sparx-space.ch/media/4presopi/laptop-3087585_1920.jpg?anchor=center&amp;mode=crop&amp;width=569&amp;height=301&amp;format=webp&amp;quality=80&amp;rnd=132677060360870000','size':'medium','type':'image/webp'},{'src':'https://testadmin.sparx-space.ch/media/4presopi/laptop-3087585_1920.jpg?anchor=center&amp;mode=crop&amp;width=1139&amp;height=603&amp;format=webp&amp;quality=80&amp;rnd=132677060360870000','size':'large','type':'image/webp'},{'src':'https://testadmin.sparx-space.ch/media/4presopi/laptop-3087585_1920.jpg?anchor=center&amp;mode=crop&amp;width=2125&amp;height=1125&amp;format=webp&amp;quality=80&amp;rnd=132677060360870000','size':'extra-large','type':'image/webp'}]"
          alt=baahhh></a-picture>
        <div class="spacer"></div>
        <div class=q><q>Die über die letzten zehn Jahre stetig ausgebaute Ideenförderung zeigt, wie wirksam die
            Unterstützung in der frühen Phase der Stoffentwicklung. Wir spüren zudem, dass in der Branche durchaus die
            Lust zum mit neuen Erzählformen und neuen Formaten ist.</q>
          <p>Joëlle Simmen, Leitung Migros-Kulturprozent Sparx</p>
        </div>
        <h2>Hier kommt ein Untertitel</h2>
        <p>Sparx kreiert Frei- und Schaffensräume für junge Kultur- schaffende zwischen 18 und 25 Jahren. Das
          Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen und Gruppen. Einmal jährlich suchen
        </p>
        <div class="spacer"></div>
      </sparx-o-style>
    </sparx-o-body>
    <o-footer namespace="footer-">
      <div>
        <a-logo class="hide-mobile" namespace="footer-engagement-logo-"
          src="../../../img/logo_fge_mk_rgb_neg_300dpi_de.png" href="https://www.migros-engagement.ch/engagement"
          target="_blank" lang="de">
          <p>sparx ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der Migros-Gruppe:
            <br> <strong> <a style="color:#f60;font-size:var(--footer-engagement-logo-text-color)"
                href="https://www.migros-engagement.ch" target="_blank">https://www.migros-engagement.ch</a> </strong>
          </p>
        </a-logo>
      </div>
      <div class="footer-ul-wrapper">
        <ul>
          <li>
            <p>© 2021</p>
          </li>
          <li>
            <p class="language-switcher">
              <a href="http://testadmin.sparx-space.ch/"> EN </a> <a href="http://testadmin.sparx-space.ch/"> FR </a>
            </p>
          </li>
          <br>
          <li>
            <p></p>
          </li>
        </ul>
      </div>
      <div class="logo-container">
        <a-logo class="hide-desktop" namespace="footer-engagement-logo-"
          src="../../../img/logo_fge_mk_rgb_neg_300dpi_de.png" href="https://www.migros-engagement.ch/engagement"
          target="_blank" lang="de">
          <p>sparx ist ein Projekt des Migros-Kulturprozent, Teil des gesellschaftlichen Engagements der Migros-Gruppe:
            <br> <strong> <a class="test" href="https://www.migros-engagement.ch"
                target="_blank">https://www.migros-engagement.ch</a> </strong> SO EIN ARSCH SO EIN ARSCH
          </p>
        </a-logo>
      </div>
    </o-footer>
  </p-general>
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '1250px'
    }
  </script>
</body>

</html>