<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <!-- NOTE: Remove line Debugging.js below for none localhost -->
  <script rel=preload type=module>import('../../../es/helpers/Debugging.js')</script>
  <title>Suche</title>
  <meta name="title" content="">
  <meta name="description" content="">
  <meta property="og:description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <p-general>
    <o-header menu-icon="true" role="header" namespace="header-">
      <a-logo namespace="header-logo-" src="https://testadmin.sparx-space.ch/assets/img/MKP_Sparx_Logo_Sparx_neg.svg"
        href="/"> </a-logo>
      <m-navigation hover="false" namespace="navigation-" hit-area="false" focus-lost-close focus-lost-close-mobile
        set-active>
        <ul>
          <li>
            <a href="#" target="">About</a>
            <ul>
              <li>
                <a href="/about/idee/" target="">Idee</a>
              </li>
              <li>
                <a href="/about/team/" target="">Team</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/forderung/" target="">Förderung</a>
          </li>
          <li>
            <a href="/kosmos/" target="">Kosmos</a>
          </li>
          <li>
            <a href="#" target="">Studio</a>
            <ul>
              <li>
                <a href="/studio/in-den-studios/" target="">In den Studios</a>
              </li>
              <li>
                <a href="/studio/projekte/" target="">Projekte</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/netzwerk/" target="">Netzwerk</a>
          </li>
          <li>
            <a href="/suche/" target=""> <img src="https://testadmin.sparx-space.ch/assets/img/Lupe_neg.svg"> </a>
          </li>
        </ul>
      </m-navigation>
    </o-header>
    <sparx-o-body>
      <m-form type="search" namespace="search-">
        <form action="/suche/" enctype="multipart/form-data" method="post">
          <a-input type="text" namespace="search-field-">
            <input id="SearchTerm" name="SearchTerm" placeholder="Suchen" type="text">
            <a-button src="https://testadmin.sparx-space.ch/assets/img/Lupe_neg.svg" namespace="search-button-"> <button
              type="submit" aria-label="TRANSLATE"> Suchenbg  </button> </a-button> <input name="ufprt" type="hidden"
            value="A88E319E16EABD78363AC60CA6F4C2189AB3CB93BE48F905DCE79072740B1789AC1DADE8D367B0E4CCD549B8DE095C520859EE9144CCF9499599D18092350A5474FA5285AA29F04A56C2C20E2E0CC2E67840BC53BD2DFD27046CFC774E85115E6B4D01BBA98DD8BE51E01D5EB88E8E153FCC66EE9E43C1F6162B892039BD4937062ED3D4534164996CF25B85B1878CE2">
          </a-input>
        </form>
        <div class="searchResultsContainer">
          <h3></h3>
          <p style="color: #F9E7D7">Deine Suche Nach «sparx» ergab 13 Treffer:</p>
          
          <div style="color: #F9E7D7">
            <h3><span class="highlight">Sparx</span> Netzwerk</h3>
            <div>
              ...<span class="highlight">Sparx</span> kreiert Frei- und Schaffensräume für junge Kultur- schaffende
              zwischen 18 und 25 Jahren. Das Förderprojekt ist partizipativ aufgebaut und offen für alle Sparten, Ideen
              und Gruppen. Einmal jährlich suchen wir originelle Ideen, die während...
            </div>
            <a href="/netzwerk/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          
          <div style="color: #F9E7D7">
            <h3>Das Förderprojekt für junge Kulturschaffende</h3>
            <p>
              ...Zielgruppe entscheiden selbst, welche Ideen sie als junge Generation wichtig finden und die deshalb
              unterstützt werden sollen. <span class="highlight">Sparx</span> Kosmos: Die eintägige Veranstaltung lädt
              ein zum miteinander Denken und voneinander lernen. Ausgewählte...
            </p>
            <a href="/about/idee/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          <div style="color: #F9E7D7">
            <h3>Projekt 1</h3>
            <div>
              ...Person: In der dreimonatigen Studiozeit arbeiten fünf bis sieben Gruppen selbstorganisiert und
              ortsunabhängig an ihren Ideen. <span class="highlight">Sparx</span>- Coaches vereinbaren mit ihnen
              individuelle Ziele: • <span class="highlight">Sparx</span> kreiert Frei- und Schaffen-sräume für junge...
            </div>
            <a href="/studio/projekte/projekt-1/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          <div style="color: #F9E7D7">
            <h3>Projekt 2</h3>
            <div>
              ...Person: In der dreimonatigen Studiozeit arbeiten fünf bis sieben Gruppen selbstorganisiert und
              ortsunabhängig an ihren Ideen. <span class="highlight">Sparx</span>- Coaches vereinbaren mit ihnen
              individuelle Ziele: • <span class="highlight">Sparx</span> kreiert Frei- und Schaffen-sräume für junge...
            </div>
            <a href="/studio/projekte/projekt-2/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          <div style="color: #F9E7D7">
            <h3>Projekt 3</h3>
            <div>
              ...Person: In der dreimonatigen Studiozeit arbeiten fünf bis sieben Gruppen selbstorganisiert und
              ortsunabhängig an ihren Ideen. <span class="highlight">Sparx</span>- Coaches vereinbaren mit ihnen
              individuelle Ziele: • <span class="highlight">Sparx</span> kreiert Frei- und Schaffen-sräume für junge...
            </div>
            <a href="/studio/projekte/projekt-3/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          <div style="color: #F9E7D7">
            <h3>Projekt 4</h3>
            <div>
              ...Person: In der dreimonatigen Studiozeit arbeiten fünf bis sieben Gruppen selbstorganisiert und
              ortsunabhängig an ihren Ideen. <span class="highlight">Sparx</span>- Coaches vereinbaren mit ihnen
              individuelle Ziele: • <span class="highlight">Sparx</span> kreiert Frei- und Schaffen-sräume für junge...
            </div>
            <a href="/studio/projekte/projekt-4/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          <div style="color: #F9E7D7">
            <h3>Projekt 5</h3>
            <div>
              ...Person: In der dreimonatigen Studiozeit arbeiten fünf bis sieben Gruppen selbstorganisiert und
              ortsunabhängig an ihren Ideen. <span class="highlight">Sparx</span>- Coaches vereinbaren mit ihnen
              individuelle Ziele: • <span class="highlight">Sparx</span> kreiert Frei- und Schaffen-sräume für junge...
            </div>
            <a href="/studio/projekte/projekt-5/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          <div style="color: #F9E7D7">
            <h3><span class="highlight">Sparx</span> Team</h3>
            <div>
              ...Joëlle Simmen Projektleiterin Patrick Ilg Honorary <span class="highlight">Sparx</span>ler Say what
              S'Up
            </div>
            <a href="/about/team/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
          <div style="color: #F9E7D7">
            <h3><span class="highlight">Sparx</span> Kontakt</h3>
            <div>
              ...In der dreimonatigen Studiozeit arbeiten fünf bis sieben Gruppen selbst-organisiert und ortsunabhängig
              an ihren Ideen. <span class="highlight">Sparx</span>- Coaches vereinbaren mit ihnen individuelle Ziele und
              bieten bei Bedarf Unterstützung an. Allgemeine...
            </div>
            <a href="/kontakt/?term=sparx" style="text-decoration: underline;">Mehr erfahren</a>
          </div>
        </div>
      </m-form>
    </sparx-o-body>
    <o-footer namespace="footer-">
      <style>
        :host>footer>div>ul.language-switcher {
          display: flex !important;
          justify-content: space-between
        }

        :host>footer>div>ul.language-switcher>li {
          display: inline-block
        }

        :host>footer>ul.footer-links {
          display: block !important;
          margin: 0
        }

        :host>footer>ul>li {
          margin: 0 !important
        }
      </style>
      <div>
        <ul class="language-switcher">
          <li>
            <a href="http://testadmin.sparx-space.ch/suche/" style="text-decoration:underline;"> DE </a>
          </li>
          <li>
            <a href="#"> EN </a>
          </li>
          <li>
            <a href="#"> FR </a>
          </li>
        </ul>
        <ul class="block-links">
          <li>
            <a href="/kontakt/">Kontakt</a>
          </li>
          <li>
            <a href="#" target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
      <div>
        <div>
          <a-logo class="hide-mobile" namespace="footer-engagement-logo-"
            src="https://testadmin.sparx-space.ch/media/skxhk4ld/logo_fge_mk_rgb_neg_300dpi_de.png?anchor=center&mode=crop&format=png&quality=80&rnd=132677088840830000"
            href="https://www.migros-engagement.ch/engagement" target="_blank" lang="de">
            <p style="font-size:0.5em">«Migros-Kulturprozent Sparx» ist Teil des gesellschaftlichen Engagements der
              Migros-Gruppe: <br> <strong> <a style="color:#f60;font-size:0.5em" href="http://migros-engagement.ch/"
                  target="_blank">http://migros-engagement.ch/</a> </strong>
            </p>
          </a-logo>
        </div>
      </div>
      <ul class="footer-links">
        <li>
          <a href="/impressum/">Impressum</a>
        </li>
        <li>
          <a href="https://www.migros.ch/de/datenschutz.html" target="_blank">Datenschutz</a>
        </li>
        <li>
          <a href="https://www.migros.ch/de/rechtliche-informationen.html" target="_blank">Rechtliche Informationen</a>
        </li>
        <li>© 2021 Migros-Kulturprozent</li>
      </ul>
    </o-footer>
  </p-general>
</body>
<script rel="preload" type="module">self.Environment = {
    mobileBreakpoint: '1250px'
  }</script>

</html>