/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
html {
  --background-color: #272727;
  --color-hover: #ffffff;
  --color-secondary: #d9adff;
  --color: #d9adff;
  --content-spacing-mobile: var(--content-spacing);
  --content-spacing: 0;
  --content-width-mobile: var(--content-width);
  --content-width-not-web-component-mobile: var(--content-width-not-web-component);
  --content-width-not-web-component: 100vw;
  --content-width: 100vw;
  --font-family: 'Wendy One', sans-serif;
  --font-size:1.3rem;
  --footer-background-color: #272727;
  --footer-color: #ffffff;
  --footer-engagement-logo-text-color: #fff;
  --header-background-color: var(--background-color);
  --header-background-color-open:var(--background-color);
  --header-background-color:var(--background-color);
  --header-justify-content: flex-end;
  --html-background-color: var(--background-color);
  --navigation-color: #D2BB61;
  --navigation-background-color: var(--background-color);
  --navigation-a-link-color-nav-open: var(--color);
  --navigation-background-color:var(--background-color);
  --navigation-padding: 0;
  --video-margin: 0 auto;
  --h2-margin: 0;
  --h3-margin: 0;
  --h4-margin: 0;
  --h5-margin: 0;
  --h6-margin: 0;
  --main-padding: 0;

  --header-content-spacing: 1em;
  --header-content-width-mobile: var(--content-width-mobile);
  --header-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --header-content-width-not-web-component: var(--content-width-not-web-component-mobile);

  --header-content-width: 90%;
  --footer-a-display: inline;
  --footer-a-link-display-mobile: block;
  --footer-a-link-display: inline;
  --footer-a-link-font-size-mobile: var(--footer-a-link-font-size);
  --footer-a-link-font-size: 0.8rem;
  --footer-a-text-underline-offset: var(--a-text-underline-offset);
  --footer-align-content: flex-start;
  --footer-box-sizing: border-box;


  --footer-content-width-mobile: 100%;
  --footer-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component: var(--content-width-not-web-component);
  --footer-content-width: 100%;
  --footer-engagement-logo-flex-flow: column-reverse;
  --footer-engagement-logo-justify-content: flex-start;
  --footer-engagement-logo-margin: 0;
  --footer-engagement-logo-max-height-mobile: 40px;
  --footer-engagement-logo-max-height: 40px;
  --footer-engagement-logo-padding: 24px 0 0;
  --footer-engagement-logo-text-a-color-hover: var(--footer-engagement-logo-text-a-color);

  --footer-engagement-logo-text-font-size-mobile: 0.42rem;
  --footer-engagement-logo-text-font-size: 0.49rem;
  --footer-engagement-logo-text-line-height: 11px;
  --footer-engagement-logo-text-padding-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-mobile-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile: 10px 0 0 34%;
  --footer-engagement-logo-text-padding: 10px 0 0 32%;
  --footer-flex-wrap: wrap; 
  --footer-font-size-mobile: var(--footer-a-link-font-size-mobile);
  --footer-font-size: var(--footer-a-link-font-size);

  --footer-homepage-logo-container-justify-content: flex-end;
  --footer-homepage-padding-mobile: 0 10px 5px 0;
  --footer-homepage-padding: var(--footer-padding);
  --footer-justify-content: space-between;
  --footer-logo-align-items: flex-end;
  --footer-logo-container-flex-wrap-mobile: wrap;
  --footer-logo-container-justify-content-wrapped-mobile: space-between;
  --footer-logo-container-justify-content-wrapped: flex-end;
  --footer-logo-height-mobile: max(50px, 15vw);
  --footer-logo-height: max(65px, 8vw);
  --footer-logo-margin-mobile: 8px 0 0;
  --footer-logo-margin: 0 0 -1vw 0;
  --footer-logo-max-height: max(120px, 5vw);
  --footer-logo-padding: 0;
  --footer-min-height-mobile: 50px;
  --footer-min-height: 50px;
  --footer-p-line-height: normal;
  --footer-p-margin: -3px 0px;
  --footer-padding-mobile: 3vh 2vw;
  --footer-padding: calc(2.4vw - 15px) 10px 2.4vw 10px;
  --footer-text-align: center;
  --footer-text-decoration-hover: underline;
  --footer-ul-margin-mobile: 0 auto 15px auto;
  --footer-ul-margin: 0 10px;
  --footer-ul-padding: 0;

}
