/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
 html {
  --a-color-hover: var(--color);
  --a-color: var(--color);
  --a-display: block;
  --a-font-family-hover: var(--font-family-quinary);
  --a-margin: 0;
  --a-text-align: center;
  --a-text-decoration-hover: underline;
  --a-text-decoration: underline;
  --animation: none;
  --any-a-display: inline;
  --background-color: #272727;
  --button-background-color-hover: var(--button-background-color, transparent);
  --button-background-color: var(--color-secondary);
  --button-border-radius:2rem;
  --button-color:var(--color);
  --button-font-family-hover: var(--a-font-family-hover);
  --button-font-size:var(--font-size);
  --button-icon-padding:0 1.2rem;
  --button-margin: 1rem 0 0;
  --button-padding-button-with-icon: 0;
  --button-padding:1.16rem 2.31rem; 
  --button-width:auto;
  --call-for-ideas-h4-font-family: var(--font-family-quinary);
  --call-for-ideas-h4-font-size-mobile: var(--h4-font-size-mobile);
  --call-for-ideas-h4-font-size: var(--h4-font-size);
  --call-for-ideas-p-font-size-mobile: var(--font-size-mobile);
  --call-for-ideas-p-font-size: var(--font-size);
  --color-hover: #ffffff;
  --color-secondary: #d9adff;
  --color: #D2BB61;
  --content-spacing-mobile: var(--content-spacing);
  --content-spacing: 1.59rem;
  --content-width-mobile: 92%;
  --content-width-not-web-component-mobile: 92%;
  --content-width-not-web-component: 55%;
  --content-width: 85%;
  --details-animation: none;
  --details-border-bottom-last: var(--details-border);
  --details-border-top: var(--details-border);
  --details-border: min(3px, 7vw) solid;
  --details-icon-justify-content: space-between;
  --details-padding: var(--padding, 27px 0);
  --details-summary-font-size: 1.3rem;
  --details-text-align: left;
  --flex-grow: 1;
  --font-family-quaternary: "GT-Haptik-Medium-Oblique-2", Arial, sans-serif;
  --font-family-quinary: "GT-Haptik-Medium-Rotalic", Arial, sans-serif;
  --font-family-secondary: "GT-Haptik-Medium-2", Arial, sans-serif;
  --font-family-senary: "GT-Haptik-Medium-Rotalic-2", Arial, sans-serif;
  --font-family-tertiary: "GT-Haptik-Medium-Oblique", Arial, sans-serif;
  --font-family: "GT-Haptik-Medium", Arial, sans-serif;
  --font-size-mobile: min(18px, 5vw);
  --font-size: max(22px, 1.1vw);
  --footer-a-display: inline;
  --footer-a-link-display-mobile: block;
  --footer-a-link-display: inline;
  --footer-a-link-font-size-mobile: var(--footer-a-link-font-size);
  --footer-a-link-font-size: 0.8rem;
  --footer-a-text-underline-offset: var(--a-text-underline-offset);
  --footer-align-content: flex-start;
  --footer-background-color: #272727;
  --footer-box-sizing: border-box;
  --footer-color: #ffffff;
  --footer-content-width-mobile: 100%;
  --footer-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component: var(--content-width-not-web-component);
  --footer-content-width: 100%;
  --footer-engagement-logo-flex-flow: column-reverse;
  --footer-engagement-logo-justify-content: flex-start;
  --footer-engagement-logo-margin: 0;
  --footer-engagement-logo-max-height-mobile: 40px;
  --footer-engagement-logo-max-height: 40px;
  --footer-engagement-logo-padding: 24px 0 0;
  --footer-engagement-logo-text-a-color-hover: var(--footer-engagement-logo-text-a-color);
  --footer-engagement-logo-text-color: #fff;
  --footer-engagement-logo-text-font-size-mobile: 0.42rem;
  --footer-engagement-logo-text-font-size: 0.49rem;
  --footer-engagement-logo-text-line-height: 11px;
  --footer-engagement-logo-text-padding-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-mobile-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile: 10px 0 0 34%;
  --footer-engagement-logo-text-padding: 10px 0 0 32%;
  --footer-flex-wrap: wrap;
  --footer-font-size-mobile: var(--footer-a-link-font-size-mobile);
  --footer-font-size: var(--footer-a-link-font-size);
  --footer-homepage-logo-container-justify-content: flex-end;
  --footer-homepage-padding-mobile: 0 10px 5px 0;
  --footer-homepage-padding: var(--footer-padding);
  --footer-justify-content: space-between;
  --footer-logo-align-items: flex-end;
  --footer-logo-container-flex-wrap-mobile: wrap;
  --footer-logo-container-justify-content-wrapped-mobile: space-between;
  --footer-logo-container-justify-content-wrapped: flex-end;
  --footer-logo-height-mobile: max(50px, 15vw);
  --footer-logo-height: max(65px, 8vw);
  --footer-logo-margin-mobile: 8px 0 0;
  --footer-logo-margin: 0 0 -1vw 0;
  --footer-logo-max-height: max(120px, 5vw);
  --footer-logo-padding: 0;
  --footer-min-height-mobile: 0;
  --footer-min-height: 0;
  --footer-p-line-height: normal;
  --footer-p-margin: -3px 0px;
  --footer-padding-mobile: 3vh 2vw;
  --footer-padding: calc(2.4vw - 15px) 10px 2.4vw 10px;
  --footer-text-align: center;
  --footer-text-decoration-hover: underline;
  --footer-ul-margin-mobile: 0 auto 15px auto;
  --footer-ul-margin: 0 10px;
  --footer-ul-padding: 0;
  --h1-font-size-mobile: 1.67rem;
  --h1-font-size: 2.5rem;
  --h1-margin: 0;
  --h2-font-size-mobile: var(--h1-font-size-mobile);
  --h2-font-size: var(--h1-font-size);
  --h2-margin: 0 auto 0.227rem;
  --h2-padding: var(--content-spacing) 0 0;
  --h3-font-size-mobile: 1.33rem;
  --h3-font-size: 1.59rem;
  --h3-margin: var(--h2-margin);
  --h3-padding: var(--h2-padding);
  --h4-font-size-mobile: var(--h1-font-size-mobile);
  --h4-font-size: 1.82rem;
  --h4-margin: 0;
  --h5-margin: 0;
  --h6-margin: 0;
  --header-a-menu-icon-background-color: var(--navigation-color);
  --header-a-menu-icon-height-open-mobile: var(--header-a-menu-icon-height);
  --header-a-menu-icon-height: 4px;
  --header-a-menu-icon-padding-open: 0 0.3em 0 0;
  --header-a-menu-icon-padding: 0;
  --header-a-menu-icon-spacing: var(--header-a-menu-icon-height);
  --header-a-menu-icon-width: 25px;
  --header-a-title-z-index: 1;
  --header-align-items: center;
  --header-background-color-open: var(--header-background-color);
  --header-background-color: transparent;
  --header-color: var(--navigation-color);
  --header-content-spacing: 0;
  --header-content-width-mobile: var(--header-content-width);
  --header-content-width: auto;
  --header-flex-direction-mobile: row;
  --header-height-mobile: var(--header-height);
  --header-height: auto;
  --header-justify-content: space-between;
  --header-logo-height-mobile: 2.4em;
  --header-logo-justify-content: flex-start;
  --header-m-navigation-align-items-mobile: center;
  --header-m-navigation-background-color-mobile: var(--background-color);
  --header-m-navigation-display-mobile: flex;
  --header-m-navigation-justify-content-mobile: center;
  --header-m-navigation-top-mobile: 0;
  --header-padding: 2%;
  --header-position: static;
  --header-title-margin: 0;
  --header-z-index: 1000;
  --heading-any-color: var(--color);
  --heading-any-font-family: var(--font-family-quinary);
  --heading-any-font-size-mobile: var(--h1-font-size-mobile);
  --heading-any-font-size: var(--h1-font-size);
  --heading-any-margin: var(--h1-margin);
  --heading-h3-font-size-mobile: var(--h3-font-size-mobile);
  --heading-h3-font-size: var(--h3-font-size);
  --html-background-color: var(--background-color);
  --logo-font-size-mobile: 2rem;
  --logo-font-size: 4rem;
  --logo-justify-content-mobile: flex-start;
  --logo-logo-a-height: auto;
  --logo-logo-a-width: 100%;
  --logo-logo-height-mobile: var(--logo-logo-height);
  --logo-logo-height: auto;
  --logo-logo-img-margin: 0 auto;
  --logo-logo-max-width: 100vh;
  --logo-logo-object-fit: contain;
  --logo-logo-width-mobile: var(--logo-logo-width);
  --logo-logo-width: 100%;
  --logo-padding-mobile: 17vh var(--header-padding) 0;
  --logo-padding: 0 var(--header-padding);
  --marquee-a-margin: 0;
  --marquee-a-text-decoration-hover: none;
  --marquee-a-text-decoration: underline;
  --marquee-background-color: var(--color);
  --marquee-color: var(--background-color);
  --marquee-font-size: 1.591rem;
  --navigation-a-arrow-color-hover: var(--navigation-color);
  --navigation-a-link-color-nav-open: var(--color);
  --navigation-a-link-color-no-scroll: var(--navigation-color);
  --navigation-a-link-content-spacing-no-scroll: 0;
  --navigation-a-link-content-spacing: 0;
  --navigation-a-link-font-size-no-scroll-mobile: min(24px, min(7vw, 7vh));
  --navigation-a-link-second-level-font-size-no-scroll: var(--navigation-a-link-font-size-no-scroll-mobile);
  --navigation-a-link-second-level-font-size: var(--navigation-a-link-font-size-no-scroll-mobile);
  --navigation-arrow-display: none;
  --navigation-background-color: var(--background-color);
  --navigation-border-top: 0;
  --navigation-color: var(--color);
  --navigation-content-spacing: 0;
  --navigation-flex-wrap: wrap;
  --navigation-font-family-hover: var(--a-font-family-hover);
  --navigation-font-family-open: var(--a-font-family-hover);
  --navigation-hr-color: transparent;
  --navigation-justify-content: flex-end;
  --navigation-li-padding: 0 0 0 2em;
  --navigation-li-ul-margin-bottom-mobile: 0;
  --navigation-li-ul-right-second-half: 0;
  --navigation-li-ul-z-index: 1;
  --navigation-margin-bottom-mobile: min(2.222rem, 6vh);
  --navigation-padding-no-scroll: 0;
  --navigation-padding-top: 0;
  --navigation-padding: 0;
  --p-color: var(--color);
  --p-margin: 0 auto var(--content-spacing);
  --picture-margin: 0 auto;  /* Warning! Keep horizontal margin at auto, otherwise the content width + margin may overflow into the scroll bar */
  --picture-width-mobile: var(--content-width-mobile);
  --picture-width: var(--content-width);
  --q-font-size-mobile: 1.333rem;
  --q-font-size: 1.272rem;
  --q-margin: 0 auto 0.227rem;
  --search-background-color: var(--background-color);
  --search-color: var(--color);
  --search-content-width: 60%;
  --search-field-color: var(--color);
  --search-field-input-border: 1px solid var(--color);
  --search-field-input-outline: none;
  --search-field-width: 500px;
  --spacer-height-mobile: 1.53rem;
  --spacer-height: 4.41rem;
  --sparx-a-heading-margin: var(--content-spacing) auto;
  --video-margin: 0 auto;
}
