/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
 html {
  --a-color-hover: var(--color);
  --a-color: var(--color);
  --a-display: block;
  --a-font-family-hover: var(--font-family-quinary);
  --a-margin: 0;
  --a-text-align: center;
  --a-text-decoration-hover: underline;
  --a-text-decoration: underline;
  --animation: none;
  --any-a-display: inline;
  --background-color: #272727;
  --call-for-ideas-h4-font-family: var(--font-family-quinary);
  --call-for-ideas-h4-font-size-mobile: var(--h4-font-size-mobile);
  --call-for-ideas-h4-font-size: var(--h4-font-size);
  --color-hover: #ffffff;
  --color-secondary: #d9adff;
  --color: #D2BB61;
  --content-spacing-mobile: var(--content-spacing);
  --content-spacing: 1.59rem;
  --content-width-mobile: 92%;
  --content-width-not-web-component-mobile: 92%;
  --content-width-not-web-component: 55%;
  --content-width: 85%;
  --flex-grow: 1;
  --font-family-quaternary: "GT-Haptik-Medium-Oblique-2", Arial, sans-serif;
  --font-family-quinary: "GT-Haptik-Medium-Rotalic", Arial, sans-serif;
  --font-family-secondary: "GT-Haptik-Medium-2", Arial, sans-serif;
  --font-family-senary: "GT-Haptik-Medium-Rotalic-2", Arial, sans-serif;
  --font-family-tertiary: "GT-Haptik-Medium-Oblique", Arial, sans-serif;
  --font-family: "GT-Haptik-Medium", Arial, sans-serif;
  --font-size-mobile: min(18px, 5vw);
  --font-size: max(22px, 1.1vw);
  --footer-a-display: inline;
  --footer-a-link-display-mobile: block;
  --footer-a-link-display: inline;
  --footer-a-link-font-size-mobile: var(--footer-a-link-font-size);
  --footer-a-link-font-size: 0.8rem;
  --footer-a-text-underline-offset: var(--a-text-underline-offset);
  --footer-align-content: flex-start;
  --footer-background-color: #272727;
  --footer-box-sizing: border-box;
  --footer-color: #ffffff;
  --footer-content-width-mobile: 100%;
  --footer-content-width-not-web-component-mobile: var(--content-width-not-web-component-mobile);
  --footer-content-width-not-web-component: var(--content-width-not-web-component);
  --footer-content-width: 100%;
  --footer-engagement-logo-flex-flow: column-reverse;
  --footer-engagement-logo-justify-content: flex-start;
  --footer-engagement-logo-margin: 0;
  --footer-engagement-logo-max-height-mobile: 40px;
  --footer-engagement-logo-max-height: 40px;
  --footer-engagement-logo-padding: 24px 0 0;
  --footer-engagement-logo-text-a-color-hover: var(--footer-engagement-logo-text-a-color);
  --footer-engagement-logo-text-color: #fff;
  --footer-engagement-logo-text-font-size-mobile: 0.42rem;
  --footer-engagement-logo-text-font-size: 0.49rem;
  --footer-engagement-logo-text-line-height: 11px;
  --footer-engagement-logo-text-padding-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile-en: 10px 0 0 25%;
  --footer-engagement-logo-text-padding-mobile-fr: 10px 0 0 27%;
  --footer-engagement-logo-text-padding-mobile: 10px 0 0 34%;
  --footer-engagement-logo-text-padding: 10px 0 0 32%;
  --footer-flex-wrap: wrap;
  --footer-font-size-mobile: var(--footer-a-link-font-size-mobile);
  --footer-font-size: var(--footer-a-link-font-size);
  --footer-homepage-logo-container-justify-content: flex-end;
  --footer-homepage-padding-mobile: 0 10px 5px 0;
  --footer-homepage-padding: var(--footer-padding);
  --footer-justify-content: space-between;
  --footer-logo-align-items: flex-end;
  --footer-logo-container-flex-wrap-mobile: wrap;
  --footer-logo-container-justify-content-wrapped-mobile: space-between;
  --footer-logo-container-justify-content-wrapped: flex-end;
  --footer-logo-height-mobile: max(50px, 15vw);
  --footer-logo-height: max(65px, 8vw);
  --footer-logo-margin-mobile: 8px 0 0;
  --footer-logo-margin: 0 0 -1vw 0;
  --footer-logo-max-height: max(120px, 5vw);
  --footer-logo-padding: 0;
  --footer-min-height-mobile: 0;
  --footer-min-height: 0;
  --footer-p-line-height: normal;
  --footer-p-margin: -3px 0px;
  --footer-padding-mobile: 3vh 2vw;
  --footer-padding: calc(2.4vw - 15px) 10px 2.4vw 10px;
  --footer-text-align: center;
  --footer-text-decoration-hover: underline;
  --footer-ul-margin-mobile: 0 auto 15px auto;
  --footer-ul-margin: 0 10px;
  --footer-ul-padding: 0;
  --h1-font-size-mobile: 1.67rem;
  --h1-font-size: 2.5rem;
  --h1-margin: 0;
  --h2-font-size-mobile: var(--h1-font-size-mobile);
  --h2-font-size: var(--h1-font-size);
  --h2-margin: 0 auto 0.227rem;
  --h2-padding: var(--content-spacing) 0 0;
  --h3-font-size-mobile: 1.33rem;
  --h3-font-size: 1.59rem;
  --h3-margin: var(--h2-margin);
  --h3-padding: var(--h2-padding);
  --h4-font-size-mobile: var(--h1-font-size-mobile);
  --h4-font-size: 1.82rem;
  --h4-margin: 0;
  --h5-margin: 0;
  --h6-margin: 0;
  --header-align-items: start;
  --header-background-color-open: var(--background-color);
  --header-background-color: transparent;
  --header-content-spacing: 0;
  --header-content-width-mobile: var(--header-content-width);
  --header-content-width: 100%;
  --header-height-mobile: var(--header-height);
  --header-height: auto;
  --header-justify-content: space-between;
  --header-title-margin: 2%;
  --heading-any-color: var(--color);
  --heading-any-font-family: var(--font-family-quinary);
  --heading-any-font-size-mobile: var(--h1-font-size-mobile);
  --heading-any-font-size: var(--h1-font-size);
  --heading-any-margin: var(--h1-margin);
  --heading-h3-font-size-mobile: var(--h3-font-size-mobile);
  --heading-h3-font-size: var(--h3-font-size);
  --html-background-color: var(--background-color);
  --marquee-a-margin: 0;
  --marquee-a-text-decoration-hover: none;
  --marquee-a-text-decoration: underline;
  --marquee-background-color: var(--color);
  --marquee-color: var(--background-color);
  --marquee-font-size: 1.591rem;
  --navigation-a-link-color-nav-open: var(--color);
  --navigation-background-color: transparent;
  --navigation-color: var(--color);
  --navigation-padding: 0;
  --p-color: var(--color);
  --p-margin: 0 auto var(--content-spacing);
  --picture-margin: 0 auto;  /* Warning! Keep horizontal margin at auto, otherwise the content width + margin may overflow into the scroll bar */
  --picture-width-mobile: var(--content-width-mobile);
  --picture-width: var(--content-width);
  --q-font-size-mobile: 1.333rem;
  --q-font-size: 1.272rem;
  --q-margin: 0 auto 0.227rem;
  --search-color: #F9E7D7;
  --search-content-width: 60%;
  --search-field-color: var(--color);
  --search-field-input-border: 1px solid var(--color);
  --search-field-input-outline: none;
  --search-field-width: 500px;
  --spacer-height-mobile: 1.53rem;
  --spacer-height: 4.41rem;
  --sparx-a-heading-margin: var(--content-spacing) auto;
  --video-margin: 0 auto;
}
